._fluid {
    width: 100%;
}
._container {
    margin: 0 auto;
    width: 920px;
}
._text-center {
    text-align: center;
}
._font-thin {
    font-weight: $font-thin;
}
._font-light {
    font-weight: $font-light;
}
._font-bold {
    font-weight: $font-bold;
}
._font-black {
    font-weight: $font-black;
}

._mg-b16 {
    margin-bottom: rem(16) !important;
}
._mg-b32 {
    margin-bottom: rem(32) !important;
}