@mixin root(){
    --primary: $primary;
    --secondary: $secondary;
    --support-yellow: $support-yellow;
    --support-pink: $support-pink;
    --dark: $dark;
    --primary-70: $primary-70;
    --primary-30: $primary-30;
    --primary-8: $primary-8;
}