<div class="_fluid">
  <div class="detail-header">
  </div>
  <div class="_container main-detail">
    <div class="ka-component _620">
      <h1 class="_text-center">Dropdown</h1>
      <p>
        Documentation and examples for Bootstrap typography, including global settings, headings, body text, lists, and more.
      </p>
    </div>
    <div class="ka-component _620">
      <h2 class="">Dropdown</h2>
      <p>
        Documentation and examples typography, headings, body text, lists, and more.
      </p>
    </div>
    <div class="ka-component ka-example">
      <div class="ex-code">
        <div class="row">
          <div class="column">
            <ka-dropdown kaStyle="_secondary-outline" [model]=""></ka-dropdown>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
