%setOutline {
  background: transparent;
  font-weight: $font-black;
  font-size: rem(18);
}

%setFocus {
  border: rem(1) solid $primary-70;
  box-shadow: 0 0 0 rem(3) $primary-30;
}

%primaryOutline {
  @extend %setOutline;
  border-color: $primary-70;
  color: $primary;
  &:focus,
  &:active {
    @extend %setFocus;
  }
}

%secondaryOutline {
  @extend %setOutline;
  color: $secondary;
  border-color: $secondary-70;
  &:focus,
  &:active {
    @extend %setFocus;
  }
}

%defualfOutline {
  @extend %setOutline;
  border-color: $dark-30;
  color: $dark-70;
  &:focus,
  &:active {
    border-color: $primary-70;
    @extend %setFocus;
  }
}

.ka-button {
  padding: rem(2) rem(16);
  height: rem(38);
  line-height: rem(32);
  border: rem(1) solid transparent;
  border-radius: rem(3);
  background: $light;
  color: $primary;
  font-size: rem(16);
  font-weight: $font-bold;
  letter-spacing: rem(1);
  text-align: center;
  position: relative;
  vertical-align: top;
  white-space: nowrap;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  outline: none;
  &:focus,
  &:active {
    @extend %setFocus;
  }
  &._primary {
    background: $primary;
    color: $light;
    &:focus,
    &:active {
      @extend %setFocus;
      background: $primary-70;
    }
  }
  &._secondary {
    background: $secondary;
    color: $light;
    &:focus,
    &:active {
      @extend %setFocus;
      background: $secondary-70;
    }
  }
  &._link {
    background: transparent;
    color: $secondary;
    font-weight: $font-regular;
    &:hover {
      text-decoration: underline;
    }
    &:focus,
    &:active {
      @extend %setFocus;
      text-decoration: underline;
      color: $primary;
    }
  }
  &._primary-outline {
    @extend %primaryOutline;
  }
  &._secondary-outline {
    @extend %secondaryOutline;
  }
  &._defualf-outline {
    @extend %defualfOutline;
  }
  &._primary-outline-2 {
    border-width: rem(2);
    @extend %primaryOutline;
  }
  &._secondary-outline-2 {
    border-width: rem(2);
    @extend %secondaryOutline;
  }
  &._defualf-outline-2 {
    border-width: rem(2);
    @extend %defualfOutline;
  }
  &._primary-outline-bg {
    background-color: #fff;
    @extend %primaryOutline;
  }
  &._secondary-outline-bg {
    background-color: #fff;
    @extend %secondaryOutline;
  }
  &._defualf-outline-bg {
    background-color: #fff;
    @extend %defualfOutline;
  }
  &._primary._block,
  &._secondary._block,
  &._defualf._block,
  &._link._block,
  &._primary-outline._block,
  &._secondary-outline._block,
  &._defualf-outline._block {
    display: block !important;
    width: 100% !important;
  }
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
  &.disabled,
  &:disabled {
    background: $secondary-30;
    opacity: .5;
    color: $light;
    border-color: transparent;
    cursor: default;
    &:hover {
      text-decoration: none;
    }
  }
}
