<div class="_fluid">
  <div class="detail-header">
    <img src="./assets/images/component/typography.svg" alt="">
  </div>
  <div class="_container main-detail">
    <div class="ka-component _620">
      <h1 class="_text-center">Typography</h1>
      <p>
        Documentation and examples for Bootstrap typography, including global settings, headings, body text, lists, and more.
      </p>
    </div>
    <div class="ka-component _620">
      <h2 class="">Header</h2>
      <p>
        Documentation and examples typography, headings, body text, lists, and more.
      </p>
    </div>
    <div class="ka-component ka-example">
      <div class="ex-code">
        <h1>Header h1</h1><br>
        <h2>Header h2</h2><br>
        <h3>Header h3</h3><br>
        <h4>Header h4</h4><br>
      </div>
    </div>
    <div class="ka-component _620">
        <h2 class="">Title</h2>
        <p>
          Documentation and examples typography, headings, body text, lists, and more.
        </p>
      </div>
      <div class="ka-component ka-example">
        <div class="ex-code">
          <h1 class="title-1">Title 1</h1>
          <h1 class="title-2">Title 2</h1>
          <h1 class="title-3">Title 3</h1>
        </div>
      </div>
  </div>
</div>
