<div class="_fluid">
  <div class="detail-header">
  </div>
  <div class="_container main-detail">
    <div class="ka-component _620">
      <h1 class="_text-center">Buttons and Link</h1>
      <p>
        Documentation and <a href="">examples</a> for Bootstrap typography, including global settings, headings, body text, lists, and more.
      </p>
    </div>
    <div class="ka-component _620">
      <h2 class="">Link</h2>
      <p>
        Documentation and examples typography, headings, body text, lists, and more.
      </p>
    </div>
    <div class="ka-component ka-example">
      <div class="ex-code">
        <a href="" class="">Primary</a>
        <a href="" class="">Secondary</a>
        <a href="" class="">Defualf</a>
      </div>
    </div>
    <div class="ka-component _620">
      <h2 class="">Buttons</h2>
      <p>
        Documentation and examples typography, headings, body text, lists, and more.
      </p>
    </div>
    <div class="ka-component ka-example">
      <div class="ex-code">
        <ka-button type='_primary'>Primary</ka-button>
        <ka-button type='_secondary'>Secondary</ka-button>
        <ka-button>Defualf</ka-button>
        <ka-button type='_link'>Link</ka-button>
      </div>
    </div>
    <div class="ka-component _620">
      <h2 class="">Outlined</h2>
      <p>
        Documentation and examples typography, headings, body text, lists, and more.
      </p>
    </div>
    <div class="ka-component ka-example">
      <div class="ex-code">
        <ka-button type='_primary-outline'>Primary</ka-button>
        <ka-button type='_secondary-outline'>Secondary</ka-button>
        <ka-button type='_defualf-outline'>Defualf</ka-button>
        <ka-button type='_link'>Link</ka-button>
        <br><br>
        <ka-button type='_primary-outline-2'>Primary</ka-button>
        <ka-button type='_secondary-outline-2'>Secondary</ka-button>
        <ka-button type='_defualf-outline-2'>Defualf</ka-button>
        <br><br>
        <ka-button type='_primary-outline-bg'>Primary</ka-button>
        <ka-button type='_secondary-outline-bg'>Secondary</ka-button>
        <ka-button type='_defualf-outline-bg'>Defualf</ka-button>
        
      </div>
    </div>
    <div class="ka-component _620">
      <h2 class="">Block</h2>
      <p>
        Documentation and examples typography, headings, body text, lists, and more.
      </p>
    </div>
    <div class="ka-component ka-example">
      <div class="ex-code _button">
        <ka-button type='_primary _block'>Primary</ka-button>
        <ka-button type='_secondary _block'>Secondary</ka-button>
        <ka-button type='_defualf _block'>Defualf</ka-button>
        <ka-button type='_primary-outline _block'>Primary</ka-button>
        <ka-button type='_secondary-outline _block'>Secondary</ka-button>
        <ka-button type='_defualf-outline _block'>Defualf</ka-button>
        <ka-button type='_link _block'>Link</ka-button>
        <ka-button type='_link _block' disabled>Disabled</ka-button>
      </div>
    </div>
    <div class="ka-component _620">
      <h2 class="">Disabled</h2>
      <p>
        Documentation and examples typography, headings, body text, lists, and more.
      </p>
    </div>
    <div class="ka-component ka-example">
      <div class="ex-code">
        <ka-button type='_primary-outline' disabled>Primary</ka-button>
        <ka-button type='_secondary-outline' disabled>Secondary</ka-button>
        <ka-button type='_defualf-outline' disabled>Defualf</ka-button>
        <ka-button type='_link' disabled>Link</ka-button>
      </div>
    </div>
  </div>
</div>
