<div class="_fluid">
    <div class="detail-header">
      <img src="./assets/images/component/typography.svg" alt="">
    </div>
    <div class="_container main-detail">
      <div class="ka-component _620">
        <h1 class="_text-center">Buttons</h1>
        <p>
          Documentation and examples for Bootstrap typography, including global settings, headings, body text, lists, and more.
        </p>
      </div>
      <div class="ka-component _620">
        <h2 class="">Buttons</h2>
        <p>
          Documentation and examples typography, headings, body text, lists, and more.
        </p>
      </div>
      <div class="ka-component ka-example">
        <div class="ex-code">
          <a class="button _primary">Primary</a>
          <a class="button _secondary">Secondary</a>
          <a class="button">Defualf</a>
          <a class="button _link">Link</a>
        </div>
      </div>
      <div class="ka-component _620">
          <h2 class="">Buttons Outlined</h2>
          <p>
            Documentation and examples typography, headings, body text, lists, and more.
          </p>
        </div>
        <div class="ka-component ka-example">
          <div class="ex-code">
            <a class="button _primary-outline">Primary</a>
            <a class="button _secondary-outline">Secondary</a>
            <a class="button _defualf-outline">Defualf</a>
            <a class="button _link">Link</a>
          </div>
        </div>
    </div>
  </div>
  