<div class="_fluid">
    <div class="detail-header">
      <img src="./assets/images/component/colors2.svg" alt="">
    </div>
    <div class="_container main-detail">
      <div class="ka-component _620">
        <h1 class="_text-center">Colors</h1>
        <p>
          Where appropriate, we enable people to introduce their own color palettes. Our products adapt intelligently and flexibly
          to cater for the user's preference. We are also committed to complying with AA standard contrast ratios. To do this,
          choose primary, secondary and extended colors that support usability by ensuring sufficient color contrast between
          elements so that users with low vision can see and use the interface.
        </p>
      </div>
      <div class="ka-component _620">
        <h2 class="">Color palette</h2>
        <p>
          Our primary palette is comprised of neutrals, white, and blue
        </p>
      </div>
      <div class="ka-component ka-example">
        <div class="row">
          <div class="column">
            <div class="ka-color">
              <div class="colors _primary"></div>
              <p>Primary</p>
              <span>#0044dd</span>
            </div>
          </div>
          <div class="column">
            <div class="ka-color">
              <div class="colors _secondary"></div>
              <p>Secondary</p>
              <span>#0e3f75</span>
            </div>
          </div>
          <div class="column">
            <div class="ka-color">
              <div class="colors _dark"></div>
              <p>Dark</p>
              <span>#112333</span>
            </div>
          </div>
          <div class="column">
            <div class="ka-color">
              <div class="row">
                <div class="column">
                  <div class="ka-color">
                    <div class="colors _support-yellow"></div>
                    <p>Yellow</p>
                    <span>#eaae1b</span>
                  </div>
                </div>
                <div class="column">
                  <div class="ka-color">
                    <div class="colors _support-pink"></div>
                    <p>Pink</p>
                    <span>#fa52ff</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ka-component _620">
        <h2 class="">Shades</h2>
        <p>
          Documentation and examples typography, headings, body text, lists, and more.
        </p>
      </div>
      <div class="ka-component ka-example">
        <div class="row">
          <div class="column">
            <div class="ka-color">
              <div class="colors _primary"></div>
              <p>$Primary</p>
              <span>#0044dd</span>
            </div>
          </div>
          <div class="column">
            <div class="ka-color">
              <div class="colors _primary-70"></div>
              <p>$Primary-70</p>
              <span>#5280e8</span>
            </div>
          </div>
          <div class="column">
            <div class="ka-color">
              <div class="colors _primary-30"></div>
              <p>$Primary-30</p>
              <span>#b8cbf5</span>
            </div>
          </div>
          <div class="column">
            <div class="ka-color">
              <div class="colors _primary-8"></div>
              <p>$Primary-8</p>
              <span>#ebf0fc</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  